<% include partials/head_header %>
<% include partials/head_footer %>
<% include partials/body_header %>
<h2>Champions Details:</h2>
<ul>
    <% for(var i=0; i<data.length; i++) { %>
    <li>
        <%= data[i].Name %>
    </li>
    <% } %>
</ul>

<% include partials/body_footer %>