<% include partials/head_header %>
<% include partials/head_footer %>
<% include partials/body_header %>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<% include partials/body_footer %>