<% include partials/header %>
    <h1>Welcome to <%= title %></h1>
    <form action="/userinfo" method="post">
      <input type="text" placeholder="User Name" name="user_name">
      <button>Get Data</button>
    </form>
<% include partials/footer %>