<!DOCTYPE html>
<html>
<head>
    <title><%= data[0].Name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= data[0].Name %></h1>
    <h4><%= data[0].Level %></h4>

</body>
</html>
