<% include partials/head_header %>
<% include partials/head_footer %>
<% include partials/body_header %>
    <h1><%= data[0].Name %></h1>
    <h4><%= data[0].Level %></h4>
<% include partials/body_footer %>
