<% include partials/header %>
    <h2>Match Details:</h2>
    <ul>
        <% for(var i=0; i<data.length; i++) { %>
        <li>
            <%= data[i] %>
        </li>
        <% } %>
    </ul>
<% include partials/footer %>