<% include partials/head_header %>
<% include partials/head_footer %>
<% include partials/body_header %>

    <div class="container">
        <div class="heading_info">

        </div>
    </div>


<% include partials/body_footer %>
