body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #e52b50;
}
a.nav-link:hover{
  background: #e52b50;
}
.navbar-dark .navbar-nav .nav-link{
  padding: 1rem 1rem;
}
.navbar-dark .navbar-nav .nav-link:hover{
  /*color: white !important;*/
}
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e52b50;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-brand{
  padding-left:.5rem ;
}

.nav-link {
    font-size: 18px;
}

.nav-link a{
    color: white;
}

.navbar {
    opacity: 0.9;
}